
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5eef1;
    font-family: Montserrat,sans-serif;
}

.pagina-buques {
    width: 100%;
    min-height: 100vh;
    background-image: url("imagens/fundo-floral.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

/*======================
TOPO
=======================*/

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.titulo {
    text-align: center;
}

    .titulo h1 {
        font-family: Caveat,cursive;
        font-size: 90px;
        color: #6d0808;
    }

    .titulo p {
        font-weight: 700;
        font-size: 20px;
        color: #3d2d2d;
    }

    .titulo span {
        font-weight: 500;
        font-size: 16px;
    }

.anjo {
    width: 120px;
}

/*======================
PRODUTOS
=======================*/

.produtos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px 40px;
    width: 95%;
    margin: auto;
}

.card {
    position: relative;
    text-align: center;
}

/* laço */

.laco {
    position: absolute;
    width: 70px;
    left: -15px;
    top: -20px;
    z-index: 2;
}

/* moldura */

.imagem {
    border: 4px solid black;
    background: #ece7e2;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .imagem img {
        max-width: 70%;
        max-height: 180px;
        transition: .4s;
    }

.card:hover img {
    transform: scale(1.08);
}

.card h2 {
    margin-top: 10px;
    font-size: 34px;
    font-weight: 300;
    color: #3b3030;
}

.card p {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 700;
    color: #3d2d2d;
}

/*======================
RESPONSIVO
=======================*/

@media(max-width:1000px) {

    .produtos {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:650px) {

    .produtos {
        grid-template-columns: 1fr;
    }

    .topo {
        flex-direction: column;
        gap: 20px;
    }

    .anjo {
        display: none;
    }

    .titulo h1 {
        font-size: 65px;
    }
}
