.pagina-home {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(rgba(50,55,35,.55), rgba(50,55,35,.55)), url("https://images.unsplash.com/photo-1468327768560-75b778cbb551");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    inset: 0;
}

.card-home {
    width: 700px;
    max-width: 90%;
    padding: 50px;
    backdrop-filter: blur(8px);
    background: rgba(105,115,79,.70);
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    z-index: 2;
    color: white;
    text-align: center;
}

.titulo-home h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 60px;
    color: #ffd8e4;
    margin: 0;
}

.titulo-home p {
    color: #e6c06f;
    letter-spacing: 4px;
    margin-bottom: 35px;
}

.conteudo-home h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.conteudo-home p {
    margin-bottom: 30px;
    font-size: 17px;
}

.menu-home {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-home {
    display: block;
    padding: 15px;
    border-radius: 12px;
    background: #707b50;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: .3s;
}

    .btn-home:hover {
        transform: translateY(-3px);
        background: #5d6842;
    }
